{% extends "base.html" %}
{% block title %}Diary{% endblock %}
{% block content %}
    <form method="POST" action="/diary">
        <div class="container text-center" id="button-container">
            <div class="d-flex justify-content-around">
                <div class="col">
                    <button type="submit" class="btn btn-danger btn-lg" name="rating" value="-1">I want to change this behaviour</button>
                </div>
                <div class="col">
                    <textarea name="content" cols="40" rows="5" id="diary-input" required></textarea>
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-success btn-lg" name="rating" value="1">This is encouraged</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

