{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
    <div id="register-form">
        <form method="POST" action="/register">
            <div class="mb-3">
                <label for="Email-adress" class="form-label">Enter your email address</label>
                <input type="email" class="form-control" id="Email-adress" name="email" required>
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">Your name</label>
                <input type="text" class="form-control" id="name" name="user_name">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Choose a password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="mb-3">
                <label for="password-again" class="form-label">Enter your password again</label>
                <input type="password" class="form-control" id="password-again" name="password_again" required>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="checkDefault" required>
                <label class="form-check-label" for="checkDefault">
                    I agree to the terms and service
                </label>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Submit</button>
        </form>
    </div>
{% endblock %}