{% extends "base.html" %}
{% block title %}Aim for the stars{% endblock %}
{% block content %}
    <div class="hero-section text-center text-white py-5">
        <div class="container">
            <h1 class="display-4 text-with-shadow">Uncover Your Potential. Chart Your Growth.</h1>
            <p class="lead">Your daily companion for self-discovery and personal evolution.</p>
            <a href="/register" class="btn btn-light btn-lg mt-3">Start Your Journey</a>
        </div>
    </div>
    <div class="container text-center py-5">
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card h-100 bg-dark text-white border-0">
                    <div class="card-body">
                        <h2 class="card-title">Embark on Your Path</h2>
                        <p class="card-text">Begin your personal growth adventure by creating an account or logging in to access your self-reflection tools.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100 bg-dark text-white border-0">
                    <div class="card-body">
                        <h2 class="card-title">Document Your Discoveries</h2>
                        <p class="card-text">Capture your daily thoughts and actions, categorizing them to gain clarity on your behaviors and progress.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100 bg-dark text-white border-0">
                    <div class="card-body">
                        <h2 class="card-title">Chart Your Evolution</h2>
                        <p class="card-text">Visualize your journey with insightful charts and statistics, tracking your points, streaks, and overall development.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}